.main {
  margin-left: 40%;
  height: 100%;

  display: flex;
  align-items: center;
  padding: 50px;
  text-align: center;

  color: #ece7e8;
  font-size: 18px;
}

.text {
  margin-left: auto;
  margin-right: auto;
  width: 40em;
  color: #ffffff;
  font-size: 30px;
}
